/* =========================main===================== */
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #819b57;
  --dark-green-color: #465929;
  --backgroud-color: rgb(243, 245, 231);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroud-color);
}
.flex {
  display: flex;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1480px;
  /* padding: 0 24px; */
  margin: 0 auto;
}
/* =======================header========================= */
header {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 40px;
  position: absolute;
  /* padding-left: 100px; */
}

.header-list li a {
  color: white;
  gap: 20px;
}
.header-list {
  color: white;
  align-items: center;
  gap: 64px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-list li a:hover {
  color: var(--main-color);
}

.header-btn a {
  color: white;
  background-color: var(--main-color);
  border: 2px solid #819b57;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
}
.header-btn a:hover {
  border: 2px solid #819b57;
  background-color: white;
  color: black;
}

.header-nav-list {
  flex: 1;
}

nav {
  flex: 1;
  justify-content: center;
}

/*======================= sec 1 =======================*/
h1 {
  font-size: 125px;
  font-weight: 900;
  text-align: center;
  /* margin-top: 300px; */
  /* margin-bottom: 300px; */
  color: var(--main-color);
}
h1 span {
  color: white;
}

.back-header-img {
  background-image: url(/img/header-background.png);
  padding: 272px 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  /* padding-top: 100px; */
}

.sec-list {
  /* gap: 200px; */
  justify-content: space-around;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.sec-list li a {
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.sec-menu {
  background-color: var(--main-color);
  max-width: 100%;
  width: 100%;
  gap: 40px;
}
/*======================= sec 2 ====================*/
.sec-2 {
  /* justify-content: center; */
  justify-content: space-around;
  margin-top: 200px;
}
.new-format {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 50px;
}
.format-p {
  margin-bottom: 50px;
}

.span-color span {
  color: var(--main-color);
}

.up {
  text-transform: uppercase;
}

/* ===================sec-3================== */

.shefs {
  margin-top: 200px;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  margin-bottom: 200px;
}
.shefs span {
  color: var(--dark-green-color);
}
.shefs span::before, .shefs span::after{
  content: '';
  border: 1px solid black;
  width: 353px;
  display: flex;
  align-items: center;
}
.shefs span::before{
  position: absolute;
  margin-top: 60px;
  margin-left: 50px;
  /* padding-bottom: 10px; */
}
.shefs span::after{
  /* position: absolute; */
  margin-top: -30px;
  margin-left: 1100px;

}
.names{
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}
.sec-3 img{
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--backgroud-color), -16px 16px 0 2px #A18268;
}

.sec-3-info {
  justify-content: space-around;
}
.text-left {
  margin-left: 30px;
}
/* =========================sec-4==================== */

.formats {
  text-align: center;
  font-weight: 900;
  font-size: 84px;
  margin-bottom: 50px;
  margin-top: 200px;
  margin-bottom: 100px;
}

.content {
  justify-content: space-around;
}
.content div {
  /* background-color: gray; */
  border: 1px solid black;
  padding: 200px 30px 30px 30px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
}

.sec-4 {
  margin-top: 200px;
  justify-content: space-around;
}
.sec-4 h2 {
  font-weight: 900;
  font-size: 64px;
  text-align: left;
  margin-bottom: 0;
}

.forms-text {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 50px;
}
input {
  color: #a18268;
  border: 1px solid #a18268;
  padding: 10px 400px 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
input:last-child {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  /* margin-left: 55px; */
}
input:last-child:hover {
  background-color: white;
  color: black;
  border: 1px solid --main-color;
  cursor: pointer;
}
/* ======================footer==================== */

footer {
  background-color: #31261a;
  background-image: url(/img/image\ 1564.png);
  margin-top: 100px;
}
.footer-main {
  padding-top: 50px;
  justify-content: space-around;
  color: #a18268;
}
.footer-main a {
  color: white;
}
