header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  align-items: center;
  max-width: 100%;
  /* justify-content: space-between; */
  /* text-align: center; */
  padding: 20px 40px;
}

.header-list li a {
  color: white;
  gap: 20px;
  transition: color 0.3s;
}
.header-list {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  gap: 64px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-list li a:hover {
  color: var(--main-color);
}

.header-btn a {
  color: white;
  background-color: var(--main-color);
  border: 2px solid #819b57;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  max-width: 100%;
}
.header-btn a:hover {
  border: 2px solid #819b57;
  background-color: white;
  color: black;
}

.header-nav-list {
  flex: 1;
}

.heaeder-inner {
  align-items: center;
  justify-content: space-between;
}

nav {
  flex: 1;
  justify-content: center;
}