footer {
  position: relative;
  background-color: #31261a;
  background-image: url(/img/image\ 1564.png);
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  z-index: -1;

  @media screen and (max-width: $bp-tablet) {
    margin-top: 0;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -2;
  }
  &::before {
    background-image: url(/img/adapt-bread.png);
    width: 180px;
    height: 100px;
    left: 0;

    @media screen and (max-width: $bp-tablet) {
      background-image: url(/img/adapt-bread.png);
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  &::after {
    background-image: url(/img/vsbkdjvb-PhotoRoom\ 1.png);
    width: 380px;
    height: 190px;
    right: 0;

    @media screen and (max-width: $bp-tablet){
      right: -10%;
    }

    @media screen and (max-width: $bp-mobile){
      right: -35%;
    }
    
  }
}

.footer-main {
  padding-top: 50px;
  justify-content: space-around;
  color: #a18268;

  @media screen and (max-width: $bp-tablet) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  & div:first-child {
    display: block;
  }
  & a {
    color: white;
    flex-shrink: 0;

    @media screen and (max-width: $bp-tablet) {
      gap: 20px;
      text-align: center;
      flex-direction: column;
    }
  }
}
.adreass-icon {
  fill: #faf4ea;
  margin-right: 20px;
  margin-top: 10px;
  &:hover {
    fill: var(--main-color);
  }
}