footer {
  position: relative;
  background-color: #31261a;
  background-image: url(/img/image\ 1564.png);
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}

footer::after,
footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

footer::before {
  background-image: url(/img/mbadvn-PhotoRoom\ 2.png);
  width: 180px;
  height: 120px;
  /* bottom: 0; */
  left: 0;
}

footer::after {
  background-image: url(/img/vsbkdjvb-PhotoRoom\ 1.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-main {
  padding-top: 50px;
  justify-content: space-around;
  color: #a18268;
}
.footer-main div:first-child {
  display: block;
}
.footer-main a {
  color: white;
  flex-shrink: 0;
}
.adreass-icon {
  fill: #faf4ea;
  margin-right: 20px;
  margin-top: 10px;
  /* stroke: red; just for testing */
}
.addreass-icon:hover {
  fill: var(--main-color);
  /* cursor: pointer; */
}