.header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;

  &-btn-first {
    display: block;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &-btn-second {
    display: none;
    @media screen and (max-width: $bp-desktop) {
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 20px 40px;
      margin-top: 50px;
    }
  }

  &-list li a {
    color: white;
    gap: 20px;
    transition: color 0.3s;
  }
  &-list {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
    list-style: none;
    padding: 0;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &-list li a:hover {
    color: var(--main-color);
  }

  &-btn a {
    color: white;
    background-color: var(--main-color);
    border: 2px solid #819b57;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    max-width: 100%;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
    @media screen and (max-width: $bp-mobile) {
      display: block;
    }
  }
  &-btn a:hover {
    border: 2px solid #819b57;
    background-color: white;
    color: black;
  }

  &-nav-list {
    flex: 1;
  }

  &-inner {
    align-items: center;
    justify-content: space-between;
  }
  &__burger {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      cursor: pointer;
      background-color: transparent;
      border: none;
      fill: white;
      height: 0;
      width: 0;
    }
  }
}

nav {
  flex: 1;
  justify-content: center;
}
