.sec-2 {
  justify-content: space-around;
  margin-top: 200px;

  @media screen and (max-width: $bp-mobile){
    margin-left: 50px;
    width: 90%;
  }
}
.new-format {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 50px;

  @media screen and (max-width: $bp-mobile){
    font-size: 32px;
  }
}

.man-bread-non{
  @media screen and (max-width: $bp-tablet){
    display: none;
  }
}