.shefs {
  position: relative;
  margin-top: 150px;
  gap: 200px;
  row-gap: 50px;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  margin-bottom: 200px;
  flex-wrap: wrap;

  @media screen and (max-width: $bp-mobile) {
    font-size: 32px;
    margin-bottom: 50px;
  }
}
.shefs span {
  color: var(--dark-green-color);
}
.shefs span::before,
.shefs span::after {
  content: "";
  border: 1px solid black;
  width: 353px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $bp-tablet) {
    display: none;
  }
}

.shefs span::before {
  position: absolute;
  left: 50px;
  bottom: 24px;
}
.shefs span::after {
  position: absolute;
  right: 50px;
  bottom: 24px;
}

.names {
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}
.sec-3 img {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0 0 var(--backgroud-color),
    -16px 16px 0 2px #a18268;

  @media screen and (max-width: $bp-mobile) {
    width: 150px;
    height: 258px;
    box-shadow:
      -14px 14px 0 0 var(--backgroud-color),
      -14px 14px 0 2px #a18268;
  }
}

.sec-3-info {
  justify-content: space-around;

  @media screen and (max-width: $bp-tablet) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-direction: column;
    gap: 100px;
  }
}

.main-shefs {
  @media screen and (max-width: $bp-tablet) {
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    // margin: 0;
    padding: 0;

    @media screen and (max-width: $bp-mobile) {
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 0;
    }
  }
}

.text-left {
  margin-left: 30px;
}