.formats {
  text-align: center;
  font-weight: 900;
  font-size: 84px;
  margin-bottom: 50px;
  margin-top: 200px;
  margin-bottom: 100px;

  @media screen and (max-width: $bp-mobile) {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

.content {
  justify-content: space-around;
}

.content div {
  border: 1px solid black;
  padding: 200px 30px 30px 30px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
}
/* ===============sec-4================ */
.sec-4 {
  margin-top: 200px;
  justify-content: center;
  gap: 40px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $bp-tablet) {
    display: inline-block;
  }
}
.sec-4 h2 {
  font-weight: 900;
  font-size: 64px;
  text-align: left;
  margin-bottom: 0;

  @media screen and (max-width: $bp-tablet) {
    text-align: center;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 32px;
  }
}

.forms-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 20px;

  @media screen and (max-width: $bp-tablet) {
    text-align: center;
  }
}
.footer-input {
  color: #a18268;
  border: 1px solid #a18268;
  width: 100%;
  max-width: 605px;
  padding: 12px 16px;
  margin-bottom: 0px;
  border-radius: 5px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.sec-4-form {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $bp-tablet) {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  @media screen and (max-width: $bp-mobile) {
    width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 20px;
  }
}

.footer-input:last-child {
  font-weight: 600;
  font-size: 18px;
  background-color: var(--main-color);
  color: white;
  border: 3px solid var(--main-color);
  padding: 16px 32px;
  width: auto;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}

.footer-input:last-child:hover {
  background-color: white;
  color: black;
  border: 3px solid var(--main-color);
  cursor: pointer;
}

.form-place p:last-child {
  text-align: center;
}
iframe {
  flex-shrink: 1;

  @media screen and (max-width: $bp-desktop) {
    iframe {
      width: 100%;
      height: 300px;
    }
  }

  @media screen and (max-width: $bp-tablet) {
    width: 100%;
    height: 176px;
  }
}

.politic {
  text-decoration: underline;
  color: black;
}

.politic:hover {
  color: var(--main-color);
}

.media-screen-bottom {
  @media screen and (max-width: $bp-tablet) {
    padding-bottom: 50px;
  }
  @media screen and (max-width: $bp-mobile) {
    display: none;
    margin-top: 20px;
  }
}