h1 {
  font-size: 125px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);

  @media screen and (max-width: $bp-tablet) {
    position: relative;
    margin-top: 80px;
  }

  @media screen and (max-width: $bp-mobile){
    font-size: 64px;
  }
}
h1 span {
  color: white;
}

.back-header-img {
  background-image: url(/img/header-background.png);
  padding: 272px 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: $bp-tablet) {
    padding: 72px 0;

  }
}

.sec-list {
  justify-content: space-around;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  @media screen and (max-width: $bp-tablet){
    background-color: #CFCFBC;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 90%;
    margin-top: 50px;
    padding-left: 20px;
  }
}
.sec-list li a {
  font-size: 20px;
  font-weight: 300;
  color: white;

  @media screen and (max-width: $bp-tablet){
    color: #31261A;
  }
}
.sec-menu {
  background-color: var(--main-color);
  max-width: 100%;
  width: 100%;
  gap: 40px;

  @media screen and (max-width: $bp-tablet){
    background-color: transparent;
  }
}