/* *{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* 
.items{
    flex-basis: 100px;
    height: 100px;
    background-color: rgb(238, 227, 176);
    border: 4px solid black;
    margin-right: 100px;
    padding: 10px;
}


 .items:nth-child(2){
    width: 50px;
    height: 50px;
    align-self: center;
} */


/* .items:nth-child(4){
    width: 60px;
    height: 60px;
} */


/* hawod test */

h1{
    font-weight: 100;
    box-shadow: 20px 5px 10px 10px gray;
}