*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    padding: 20px;
    border: 3px dotted black;
}

.item.green{
    /* position: relative; */
    top: 20px;
    left: 100px;
    width: 150px;
    height: 150px;
    background-color: green;
    overflow: auto;
    color: aliceblue;
}
.item.blue{
    /* position: absolute; */
    width: 100px;
    height: 100px;
    background-color: blue;
}
.item.red{
    width: 50px;
    height: 50px;
    background-color: red;
}