@import "./base", "./utilits/variables", "./utilits/fonts", "./loyauts/footer", "./loyauts/header",
    "./loyauts/modal", "./loyauts/sec-1", "./loyauts/sec-2", "./loyauts/sec-3", "./loyauts/sec-4",
    "./loyauts/sec-5", "./loyauts/mobile-menu";